
.container {
	display: flex;
	flex-wrap: wrap;
}

.portfolio {
	width: 85%;
}
.item {
	width: 100%;
  clear: both;
	background: #ddd;
}
.item img {
	float: left;
  height: 230px;
	border-radius: 10%;
}
.item span {
	display: table-cell;
	vertical-align: top;
	height: 120px; 
  
}

/*.textarea {
	width: 400px;
	height: 100px; }*/

.div_post { 
	border: 1px solid #999;
  padding: 10px 10px;
  margin: 10px 20%%; }

/*	.hr_postbound {
	width: 50%%; }
.em_date { 
	color: #999 }*/ 



* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #ddd;
  margin: 0;
  padding: 0;
}
/*body {
	font-family: 'Roboto', sans-serif;
}*/

header {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #697681;
  background: white;
  height: 100px;
  padding: 15px;
}
section {
  padding: 16px;
}
.flex-container {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.vertical-centerer {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.header-content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 10px 0px;
}

.logo_name {
	display: table-cell;
	vertical-align: top;
	height: 70px; 
}

.menu {
  list-style: none;
  list-style-type: none;
  height: 30px; 
  vertical-align: bottom;
}
.menu > li {
  display: inline;
  margin-left: 37.5px;
}
/*.menu {
	width: 15%;
}*/
 