<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
  	<title>Nice food restaurants</title>
	<!--
	<link href={{ url_for('static', filename='styles.css') }} rel=stylesheet>
	-->
</head>
<body>
	<header>
		<p>--- start of header ---</p>
		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
				<div>
			  		<span>
						<img class="logo" src={{url_for('static', filename ="eat_and_rest.jpg")}} width="80" alt="Restaurants logo">
						<div class="logo_name">
							<h2>Eat and Rest</h2>
						</div>
			  		</span>
				</div>
				<div>
			  		<ul class="menu">
						<li><a href="/restaurants">Restaurants</a></li>
						<li><a href="/restaurants/menu_items">All Menu items</a></li>
						<li><a href="/restaurants/news_promo">News & Promo</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>
		<p>--- end of header ---</p>
	</header>

	<section>
		<div class="container">
			<div class="portfolio">
				<h1>News and promo menu:</h1>
				<div class="item div_post">
					{% if promo_lst %}
						{% set ns = namespace(prev_rest_id = None) %}						
						{% for (item, logo_name) in promo_lst %}    
							{% set (rest_id, rest_name, mnu_name, cmnt) = item %}
							
							{% if rest_id != ns.prev_rest_id %}
								{% if ns.prev_rest_id != None %}
									<h4> <a href="/restaurants/rst_id{{ns.prev_rest_id}}">Visit us now!!!</a></h4>	
									<br>
								{% endif %}	

								<img src={{url_for('static', filename = logo_name)}} width="120" alt="Restaurant logo">
								<!--
								<br>
								<span> {rest_item.description} </span>
								<p> {rest_item.address} </p>
								-->			
							{% endif %}
							
							<h3>{{mnu_name}}</h3>
							<!--
							<p>{menu.description}</p>
							<p>Price: {item.price} rub</p>
							-->
							<p>Promo: {{cmnt}}</p>
							{% set ns.prev_rest_id = rest_id %}
						{% endfor %}
						<h4> <a href="/restaurants/rst_id{{ns.prev_rest_id}}">Visit us now!!!</a></h4>
					{% else %}
						<h3>No news and promo yet ...</h3>
					{% endif %}
				</div>
            </div>
		</div>
	</section>

	<footer>
		<p>--- start of footer ---</p>
		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
 				<div>
			  		<ul class="menu">
						<!--
                        <li>
							<a href="/restaurants">Back to restaurants</a>
						</li>
						<li>
							<a href="/restaurants/menu_items/">Back to all menu items</a>
						</li>
						<li>Reserved</li>
						<li> </li>
						<li> </li>
						<li> </li>
						<li> </li>
						<li> </li>
						-->
						<li><a href="/restaurants/contact_us">Contact us</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>
		<p>--- end of footer ---</p>
	</footer>

</body>
</html>