<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
  	<title>Nice food restaurants</title>
	<link href={{ url_for("static", filename="styles.css") }} 
		  rel=stylesheet>
	<link href={{url_for("static", filename ="eat_and_rest.png")}} 
		  rel="icon">
</head>

<body>
	<header>
		
		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
				<div>
			  		<span>
						<img class="logo" 
						     src={{url_for("static", filename ="eat_and_rest.jpg")}} 
							 width="80" 
							 height="80"
							 alt="Restaurants logo">
						<div class="logo_name">
							<h2>Eat and Rest</h2>
						</div>
			  		</span>
				</div>
				<div>
			  		<ul class="menu">
						<li><a href="/restaurants">Restaurants</a></li>
						<li><a href="/restaurants/menu_items">All Menu items</a></li>
						<li><a href="/restaurants/news_promo">News & Promo</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>

	</header>

	<section>
		<div class="container">
			<div class="portfolio">
				<a class="navigation" id="top" href="#bottom">Move bottom...</a>
				<h2>News and promo menu:</h2>
				<!--<div class="item div_post">-->
					{% if promo_lst %}
						{% set ns = namespace(prev_rest_id = None) %}						
						{% for item in promo_lst %}    
							{% set (rest_name, mnu_name, price, comment, rest_id, logoname) = item %}
							
							{% if rest_id != ns.prev_rest_id %}
								{% if ns.prev_rest_id != None %}
										<h4> <a href="/restaurants/rst_id{{ns.prev_rest_id}}">Visit us now!!!</a></h4>	
									</span>
								</div>
									<!--<br>-->
								{% endif %}	

								<div class="item div_post">
									{% if logoname %}
										{% set logo_filename="logos/" ~ logoname %}
									{% else %}
										{% set logo_filename="no_image.jpg" %}
									{% endif %}	
									<img src={{url_for("static", filename = logo_filename)}}
										 width="160" 
										 height="160" 
										 alt="Restaurant logo">
		
							{% endif %}
									<span class="item_promo_span">
										<h3>{{ mnu_name }}</h3>
										<p>
											<div>Promo: {{ comment }} </div>
											<div class="support_italic_right">Price: {{price}} rub</div>
										</p>
							{% set ns.prev_rest_id = rest_id %}
						{% endfor %}
										<h4> <a href="/restaurants/rst_id{{ns.prev_rest_id}}">Visit us now!!!</a></h4>
									</span>
								</div>
						{% else %}
						<h3>No news and promo yet ...</h3>
					{% endif %}
				<!--</div>-->
				<a class="navigation" id="bottom" href="#top">Move top...</a>
				<br><br>
            </div>
		</div>
	</section>

	<footer>

		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
 				<div>
			  		<ul class="menu">
						<li> </li>
						<li><a href="/restaurants/contact_us">Contact us</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>

	</footer>

</body>
</html>