<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
  	<title>Nice food restaurants</title>	
	<link href={{ url_for("static", filename="styles.css") }} 
		  rel=stylesheet>
	<link href={{url_for("static", filename ="eat_and_rest.png")}} 
		  rel="icon">
</head>

<body>
	<header>
		
		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
				<div>
			  		<span>
						<img class="logo" 
							 src={{url_for("static", filename ="eat_and_rest.jpg")}} 
							 width="80" 
							 height="80"
							 alt="Restaurants logo">
						<div class="logo_name">
							<h2>Eat and Rest</h2>
						</div>
			  		</span>
				</div>
				<div>
			  		<ul class="menu">
						<li><a href="/restaurants">Restaurants</a></li>
						<li><a href="/restaurants/menu_items">All Menu items</a></li>
						<li><a href="/restaurants/news_promo">News & Promo</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>

	</header>

	<section>
		<div class="container">
			<div class="portfolio">
				<a class="navigation" id="top" href="#bottom">Move bottom...</a>
				<!--top flashing messages-->
				{% with message = get_flashed_messages()[0] %}
					{% if message %}
						{% if message.position == "top"%}
							<br><br>
							<b class="{{message.color}}"> {{ message.message }}</b>
						{% endif %}
					{% endif %}
				{% endwith %}
				<!--end flashing-->
				<h2>Our restaurants</h2>
                {% if rest_items %}
					{% for item in rest_items %}
						<div class="item div_post">
							<a href="/restaurants/rst_id{{ item.id }}">		
								{% if item.logoname %}
									{% set logo_filename="logos/" ~ item.logoname %}
								{% else %}
									{% set logo_filename="no_image.jpg" %}
								{% endif %}	
								<img src={{ url_for("static", filename=logo_filename )}}
									 width="260" 
									 height="260" 
									 alt="Restaurant logo">							
							</a>
							<h2> {{ item.name }} </h2>
							<span class="item_span"> {{ item.description }} </span>
							<p class="support_italic_right"> {{ item.address }} </p>
							<!--<br><br>-->
						</div>
					{% endfor %}
				{% else %}
					<h3> No restaurants yet ...</h3>
				{% endif%}
				<a class="navigation" id="bottom" href="#top">Move top...</a>
				
				<!--flashing messages-->
				{% with message = get_flashed_messages()[0] %}
					{% if message %}
						{% if message.position == 'bottom'%}
							<br><br>
							<b class="{{message.color}}"> {{ message.message }}</b>
						{% endif %}
					{% endif %}
				{% endwith %}			
				<br><br>
            </div>

			<!-- form to load add restaurant form -->
			<form action="{{ url_for('add_restaurant')}}" method="get">
				<input type="submit" value="Add new restaurant">
			</form>
		</div>
	</section>

	<footer>

		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
 				<div>
			  		<ul class="menu">
						<li></li>
						<li><a href="/restaurants/contact_us">Contact us</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>

	</footer>

</body>
</html>