<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
  	<title>Nice food restaurants</title>
	<link href={{ url_for("static", filename="styles.css") }} 
		  rel=stylesheet>
	<link href={{url_for("static", filename ="eat_and_rest.png")}} 
		  rel="icon">
</head>

<body>
	<header>

		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
				<div>
			  		<span>
						<img class="logo" 
							 src={{url_for("static", filename ="eat_and_rest.jpg")}} 
							 width="80" 
							 height="80"
							 alt="Restaurants logo">
						<div class="logo_name">
							<h2>Eat and Rest</h2>
						</div>
			  		</span>
				</div>
				<div>
			  		<ul class="menu">
						<li><a href="/restaurants">Restaurants</a></li>
						<li><a href="/restaurants/menu_items">All Menu items</a></li>
						<li><a href="/restaurants/news_promo">News & Promo</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>

	</header>

	<section>
		<div class="container">			
			<div class="portfolio_half">
				<a class="navigation" id="top" href="#bottom">Move bottom...</a>
				<h2>{{rest_item.name}}</h2>
                <div class="item div_post">
					<!--top flashing messages-->
					{% with message = get_flashed_messages()[0] %}
						{% if message %}
							{% if message.position == "top"%}
								<b class="{{message.color}}"> {{ message.message }}</b>
								<br><br>
							{% endif %}
						{% endif %}
					{% endwith %}
					<!--end flashing-->
					{% if rest_item.logoname %}
						{% set logo_filename="logos/" ~ rest_item.logoname %}
					{% else %}
						{% set logo_filename="no_image.jpg" %}
					{% endif %}	
					<img src={{url_for("static", filename=logo_filename )}} 
						 width="260" 
						 height="260" 
						 alt="Restaurant logo">
					<p>Description:</p>				
					<span class="item_span">{{ rest_item.description }} </span>
					<p class="support_italic_right"> {{ rest_item.address }} </p>
					<br>					
					<p>										
						<!-- form to load edit menu item form -->
						<form style="display: inline" 
							  action="{{ url_for('edit_restaurant_id', 
										 rst_id = 'rst_id' ~ rest_item.id)}}" 
							  method="get">
							<input type="submit" 
							       value="Edit restaurant">
						</form>
						
						<!-- form to load delete menu item form -->
						<form style="display: inline" 
							  action="{{ url_for('delete_restaurant_id', 
										 rst_id = 'rst_id' ~ rest_item.id)}}" 
							  method="get">
							<input type="submit" 
							       value="Delete restaurant">
						</form>

						<!-- form to load logo image uploading form -->
						<form style="display: inline" 
							  action="{{ url_for('addlogo_restaurant_id', 
										 rst_id = 'rst_id' ~ rest_item.id)}}" 
							  method="get">
							<input type="submit" 
							       value="Upload logo">
						</form>
						
						<!-- form to load edit menu item form -->
						<form action="{{ url_for('menu_items', 
										 rst_id = 'rst_id' ~ rest_item.id)}}" 
							  method="get">
		   					<input type="submit" 
							       value="Add new item to restaurant">
	   					</form>						
					</p>
					<!--bottom flashing messages-->
					{% with message = get_flashed_messages()[0] %}
						{% if message %}
							{% if message.position == "bottom"%}
								<b class="{{message.color}}"> {{ message.message }}</b>
								<br><br>
							{% endif %}
						{% endif %}
					{% endwith %}
					<!--end flashing-->
				</div>	
			</div>

			<div class="portfolio_half">		
				<br class="navigation">
				<h2>Our menu:</h2>
				<div class="item div_post">
					{% if menu_items %}
						{% for (item, price, comment) in menu_items %}
							<h3>
								<a id="m{{ item.id }}"
									href="{{ url_for('menu_item_id', 
											rst_id = 'rst_id' ~ rest_item.id, 
											mnu_id = 'mnu_id' ~ item.id)}}">{{ item.name }}</a> 
							</h3>
							<p>
								<div>
								{{ item.description }}							
								{% if comment %}
									<br>
									{{ comment }}
								{% endif %}
								</div>
								<div class="support_italic"> * {{ item.course }} </div>
								<div class="support_italic_right"> = {{ price }} rub</div>
								<!--item flashing messages-->
								{% with message = get_flashed_messages()[0] %}
									{% if message %}
										{% if message.position == "item" and message.id == item.id %}
											<b class="{{message.color}}"> {{ message.message }}</b>
											<br><br>
										{% endif %}
									{% endif %}
								{% endwith %}
								<!--end flashing-->		
								
								<div>
									<!-- form to load edit menu item form -->
									<form style="display: inline" 
									      action="{{ url_for('edit_menu_item_for_restaurant_id', 
													 rst_id = 'rst_id' ~ rest_item.id, 
													 mnu_id = 'mnu_id' ~ item.id)}}" 
										  method="get">
										<input type="submit" 
											   value="Edit price">
									</form>
									
									<!-- form to load delete menu item form -->
									<form style="display: inline" 
											  action="{{ url_for('delete_menu_item_for_restaurant_id', 
														rst_id = 'rst_id' ~ rest_item.id, 
														mnu_id = 'mnu_id' ~ item.id)}}" 
											  method="get">
										<input type='submit' 
											   value="Delete item">
									</form>									
								</div>
							</p>							
						{% endfor %}
					{% else %}
						<h3> No menu list yet... </h3>
					{% endif %}
					
				</div>
				<a class="navigation" id="bottom" href="#top">Move top...</a>
            </div>			
		</div>
	</section>

	<footer>

		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
 				<div>
			  		<ul class="menu">
						<li> </li>
						<li><a href="/restaurants/contact_us">Contact us</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>

	</footer>

</body>
</html>