<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
  	<title>Nice food restaurants</title>
	<!--
	<link href={{ url_for('static', filename='styles.css') }} rel=stylesheet>
	-->
</head>
<body>
	<header>
		<p>--- start of header ---</p>
		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
				<div>
			  		<span>
						<img class="logo" src={{url_for('static', filename ="eat_and_rest.jpg")}} width="80" alt="Restaurants logo">
						<div class="logo_name">
							<h2>Eat and Rest</h2>
						</div>
			  		</span>
				</div>
				<div>
			  		<ul class="menu">
						<li><a href="/restaurants">Restaurants</a></li>
						<li><a href="/restaurants/menu_items">All Menu items</a></li>
						<li><a href="/restaurants/news_promo">News & Promo</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>
		<p>--- end of header ---</p>
	</header>

	<section>
		<div class="container">
			<div class="portfolio">
				<h1>Our restaurants</h1>
                {% for item in rest_items %}
					<div class="item div_post">
					    <a href="/restaurants/rst_id{{item.id}}">
                            <img src={{url_for('static', filename = item.name.lower().strip(' ').replace(' ','_').replace("'","")+'.jpg' )}} width="270" alt="Restaurant logo">
                        </a>
					    <h2> {{item.name}} </h2>
					    <span> {{item.description}} </span>
					    <p> {{item.address}} </p>
						<br><br>
				    </div>
				{% endfor %}
            </div>
			
			<!-- form to load add restaurant form -->
			<form action="{{ url_for('add_restaurant')}}" method = 'get'>
				<input type='submit' value='Add new restaurant'>
			</form>
		</div>
	</section>

	<footer>
		<p>--- start of footer ---</p>
		<div class="vertical-centerer flex-container">
		  	<div class="flex-container space-between header-content">
 				<div>
			  		<ul class="menu">
						<!--
                        <li>
							<a href="/restaurants/add">Add new restaurant</a>
						</li>
						<li>
							<a href="/restaurants/menu_items/add">Add new menu item</a>
						</li>
						<li>Reserved</li>
						<li> </li>
						<li> </li>
						<li> </li>
						<li> </li>
						<li> </li>
						-->
						<li><a href="/restaurants/contact_us">Contact us</a></li>
			  		</ul>
				</div>
		  	</div>
		</div>
		<p>--- end of footer ---</p>
	</footer>

</body>
</html>